/target/
/.idealtest
pom.xml.versionsBackup
.swp
*.iml
/*/.iml
.DS_Store
/*/.*
!.gitignore
.idea
*.bak
target
*.class
.target
#bpm
/*/bpmclasses
*.log

# eclipse
.project
.classpath
.settings/

# mac
*/target/
.swp
logs
tree

#spring-boot
application.pid